In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('titles.csv')
df.shape

(5806, 15)

In [46]:
df.dtypes

id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

In [47]:
df.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5806.000000,5806.000000,2047.000000,5283.000000,5.267000e+03,5712.000000,5488.000000
mean,2016.013434,77.643989,2.165608,6.533447,2.340719e+04,22.525660,6.818039
std,7.324883,39.474160,2.636207,1.160932,8.713432e+04,68.849177,1.171560
min,1945.000000,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2015.000000,44.000000,1.000000,5.800000,5.210000e+02,3.155250,6.100000
50%,2018.000000,84.000000,1.000000,6.600000,2.279000e+03,7.478000,6.900000
75%,2020.000000,105.000000,2.000000,7.400000,1.014400e+04,17.775750,7.500000
max,2022.000000,251.000000,42.000000,9.600000,2.268288e+06,1823.374000,10.000000

In [48]:
df.isnull().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2610
runtime                    0
genres                     0
production_countries       0
seasons                 3759
imdb_id                  444
imdb_score               523
imdb_votes               539
tmdb_popularity           94
tmdb_score               318
dtype: int64

In [49]:
cols = ['title', 'type', 'release_year', 'genres', 'production_countries', 'imdb_score', 'tmdb_score']
df = df[cols]
df

,title,type,release_year,genres,production_countries,imdb_score,tmdb_score
0,Five Came Back: The Reference Films,SHOW,1945,['documentation'],['US'],NaN,NaN
1,Taxi Driver,MOVIE,1976,"['crime', 'drama']",['US'],8.3,8.2
2,Monty Python and the Holy Grail,MOVIE,1975,"['comedy', 'fantasy']",['GB'],8.2,7.8
3,Life of Brian,MOVIE,1979,['comedy'],['GB'],8.0,7.8
4,The Exorcist,MOVIE,1973,['horror'],['US'],8.1,7.7
...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,"['romance', 'drama']",['NG'],6.9,NaN
5802,Edis Starlight,MOVIE,2021,"['music', 'documentation']",[],NaN,8.5
5803,Clash,MOVIE,2021,"['family', 'drama']","['NG', 'CA']",6.5,NaN
5804,Shadow Parties,MOVIE,2021,"['action', 'thriller']",[],6.2,NaN
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,"['family', 'comedy', 'animation']",[],8.8,10.0

In [50]:
df = df.dropna(axis=0)
df.head()

,title,type,release_year,genres,production_countries,imdb_score,tmdb_score
1,Taxi Driver,MOVIE,1976,"['crime', 'drama']",['US'],8.3,8.2
2,Monty Python and the Holy Grail,MOVIE,1975,"['comedy', 'fantasy']",['GB'],8.2,7.8
3,Life of Brian,MOVIE,1979,['comedy'],['GB'],8.0,7.8
4,The Exorcist,MOVIE,1973,['horror'],['US'],8.1,7.7
5,Monty Python's Flying Circus,SHOW,1969,"['comedy', 'european']",['GB'],8.8,8.3

In [51]:
df.shape

(5055, 7)