In [95]:
import pandas as pd
import matplotlib.pyplot as plt

In [96]:
df = pd.read_csv('netflix_movies_and_tv_shows.csv')
df.head

<bound method NDFrame.head of                           title   type titlereleased rating  quality  \
0                      #blackAF     TV          2020  TV-MA  UltraHD
1              #cats_the_mewvie     TV          2020  TV-14  SuperHD
2                  #realityhigh     TV          2017  TV-14  UltraHD
3                     #Rucker50     TV          2016   TV-G  SuperHD
4                       #Selfie     TV          2014  TV-MA  SuperHD
...                         ...    ...           ...    ...      ...
5637       Turkish Dance School  Movie          2017  TV-MA      NaN
5638  Good Game: The Beginning   Movie          2018  TV-14      NaN
5639   My Step Dad: The Hippie   Movie          2018  TV-MA      NaN
5640          Leyla Everlasting  Movie          2020  TV-MA      NaN
5641                Stuck Apart  Movie          2020  TV-MA      NaN

                                                 actors  \
0     Kenya Barris, Rashida Jones, Iman Benson, Genn...
1                                                   NaN
2     Nesta Cooper, Kate Walsh, John Michael Higgins...
3                                                   NaN
4     Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...
...                                                 ...
5637  Binnur Kaya, Demet Özdemir, Uraz Kaygilaroglu,...
5638  Mert Yazicioglu, Afra Saraçoglu, Orkun Isitmak...
5639  Onur Buldu, Mahir Ipek, Derya Karadas, Onur At...
5640  Haluk Bilginer, Demet Akbag, Elçin Sangu, Fira...
5641  Engin Günaydin, Haluk Bilginer, Binnur Kaya, Ö...

                         director              category imdb   runtime  \
0                             NaN                   NaN  6.6       NaN
1                Michael Margolis                   NaN  5.2        89
2                Fernando Lebrija                   NaN  5.2        99
3           Robert McCullough Jr.                   NaN  5.3        56
4                  Cristina Jacob                   NaN  6.1       125
...                           ...                   ...  ...       ...
5637                  Burak Aksak                Comedy  NaN   106 min
5638                    Umut Aral  Comedy, Drama, Sport  NaN  104 mins
5639               Meltem Bozoflu                Comedy  NaN    99 min
5640                    Ezel Akay                Comedy  NaN  112 mins
5641  Durul Taylan, Yagmur Taylan         Drama, Comedy  NaN   96 mins

      netflixid date_released  \
0      81056700    2020-04-17
1      81218137    2020-02-05
2      80125979    2017-09-08
3      80147908    2016-12-01
4      81092768    2019-06-01
...         ...           ...
5637   81314930    2020-10-02
5638   81319138    2020-10-04
5639   81314934    2020-10-09
5640   81316256    2020-12-04
5641   81345777    2021-01-08

                                            description  4k language
0     Kenya Barris and his family navigate relations...   1  english
1     This pawesome documentary explores how our fel...   0  english
2     When nerdy high schooler Dani finally attracts...   1  english
3     This documentary celebrates the 50th anniversa...   0  english
4     Two days before their final exams, three teen ...   0    other
...                                                 ...  ..      ...
5637  A woman recovering from an attempted suicide m...   1  turkish
5638  New high school grad and avid gamer Cenk is re...   1  turkish
5639  When three adult siblings meet the offbeat man...   1  turkish
5640  A resilient housewife, her husband and their m...   1  turkish
5641  Entrenched in a midlife crisis, Aziz seeks sol...   1  turkish

[5642 rows x 15 columns]>

In [97]:
cols = ['title', 'type', 'titlereleased', 'rating', 'imdb', 'runtime', 'language']
x = df[cols]
x.dtypes

title            object
type             object
titlereleased    object
rating           object
imdb             object
runtime          object
language         object
dtype: object

In [98]:
x['imdb'] = pd.to_numeric(x['imdb'], errors='coerce')
x['titlereleased'] = pd.to_numeric(x['titlereleased'], errors='coerce')
x['runtime'] = pd.to_numeric(x['runtime'], errors='coerce')
x.dtypes

C:\Users\DELL\AppData\Local\Temp/ipykernel_9808/2235467153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['imdb'] = pd.to_numeric(x['imdb'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp/ipykernel_9808/2235467153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['titlereleased'] = pd.to_numeric(x['titlereleased'], errors='coerce')
C:\Users\DELL\AppData\Local\Temp/ipykernel_9808/2235467153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['runtime'] = pd.to_numeric(x['runtime'], errors='coerce')

title             object
type              object
titlereleased    float64
rating            object
imdb             float64
runtime          float64
language          object
dtype: object

In [99]:
x.isnull().sum()

title               0
type                0
titlereleased     215
rating              0
imdb             1235
runtime          2736
language            0
dtype: int64

Since there are a large number of NaN values, we cannot drop them.
Using df.interpolate()

In [100]:
x = x.interpolate()
x.isnull().sum()

title            0
type             0
titlereleased    0
rating           0
imdb             0
runtime          1
language         0
dtype: int64